{% extends 'base.html' %}
{% load static %}

{% block title %}ChatApp{% endblock %}

{% block content %}
<div class="container">
    <h3>ChatRoom</h3>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="80">
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        let currentUser = '{{ request.user.username }}';
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data.message;
            const username = data.username;

            // Determine whether the message sender is the current user
            const senderText = username === currentUser ? 'YOU' : username;
            document.querySelector('#chat-log').value += (senderText + ': ' + message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': currentUser
            }));
            messageInputDom.value = '';
        };
    </script>

    <br>
    <br>

    <div class="row">
        <div class="col-md-8">
            <div id="roomuser-list" class="list-group">
                <a href="" class="list-group-item disabled">
                    <h4 class="list-group-item-heading">All Users in Chat Room</h4>
                    {# Users go here #}
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    let sessionKey = '{{ request.session.session_key }}';
    let room = roomName;

    let roomuserList = $('#roomuser-list');

    function updateChatRoomUserList() {
        $.getJSON('/chat/api/v1/roomuser?room_name='+room, function (data) {
            roomuserList.children('.roomuser').remove();
            for (let i = 0; i < data.length; i++) {
                const userItem = `<a class="list-group-item user">${data[i]['user']}</a>`;
                $(userItem).appendTo('#roomuser-list');
            }
        });
    }
    $(document).ready(function () {
        updateChatRoomUserList();
    });
</script>

{% endblock %}